.container {
  width: 350px;
  margin: 0 auto;
  background-color: beige;
}

.content {
  background-color: aquamarine;
  width: 350px;
  height: auto;
  margin: 0 auto;
}
.button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}
